header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: #0b0202;
    z-index: 1000;
}
/* ---BARRA DE NAVEGAÇÃO--- */
.navbar{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.logo{
    padding: 10px;
}
.logo img {
    width: min(200px, 42vw);
}
.nav_links{
    display: flex;
    list-style: none;
    gap: clamp(16px, 3vw, 48px);
    align-items: center;
    width: auto;
}

.nav_item a {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 1rem;  
    display: inline-block; 
}
/* .nav_item.active a{
    color: white;
    border-bottom: 3px solid #CA0606;
} */
 .nav_item a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #CA0606;
    bottom: -4px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav_item a:hover::after {
    transform: scaleX(1);
} 

.mobile_btn{
    display: none;
}
.mobile_menu{
    display: none;
}
@media screen and (max-width: 1170px){
    .nav_links{
        display : none;
    }
    .mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        color: #861414;
        cursor: pointer;
    }
    .mobile_menu.active {
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 12px;
    }
    .mobile_nav_links{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0;
        width: 100%;
    }
    .mobile_nav_links .nav_item{
        list-style: none;
        text-align: center;
    }
    .mobile_nav_links .nav_item a {
        display: block;
        padding: 8px 0;
    }
}